:root {
    --small-game: 350px;
    --large-game: 500px;
}

.container {
    margin: 0 auto;
}

body {
    font-family: 'Roboto';
    color: white;
    background-color: #333;
}

a {
    color: #FA5;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
    margin: 5px;
    /* padding-left: 4px; */
}

main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

footer {
    grid-area: footer;
}

#game-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: var(--small-game);
    /* height: var(--small-game); */
}

#game-controls {
    margin: auto;
    padding-top: 10px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width: 125px;
    height: 125px;
}

.control {
    border: 2px #555 solid;
    font-size: 16px;
    color: white;
    background-color: rgb(128, 128, 128);
    /* Centers text in cell */
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-active {
    transition: background-color 0.1s ease;
    background-color: #ccc;
}

.grid-row {
    display:flex;
    width: var(--small-game);
}

.house-alt {
    background-color: rgb(253, 177, 100);
}

.grid-cell {
    border: 2px #555 solid;
    font-size: 20px;

    width: calc(var(--small-game)/(9*1.12));
    height: calc(var(--small-game)/(9*1.12));

    /* Centers text in cell */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Disable text highlighting on cells */
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.note-cell {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.note {
    font-size: 10px;
    height: 10px;
}

.active {
    transition: background-color 0.1s ease;
    background-color: #ff8c49;
    background-color: #ff7b00;
}

.selected {
    /* background-color: #777; */
    transition: background-color 0.1s ease-out;
    background-color: #ccc;

}

.invalid {
    color: #f85;
}

.hint {
    font-weight: bold;
    font-style: italic;
}

/* @media (hover: hover) {
    #game-controls {
        display: none;
    }
} */

@media (hover: none) and (min-width: 700px) {
    #game-controls {
        width: 200px;
        height: 200px;
    }

    .control {
        font-size: 36px; 
    }
}

@media screen and (min-width: 700px) {
    .container {
        display: grid;
        grid-template-areas: 
            "header header"
            "aside main"
            "footer footer";
        grid-template-columns: 1fr 5fr;
        column-gap: 3%;
    }

    #game-container {
        width: var(--large-game);
    }

    .grid-row {
        width: var(--large-game);
    }

    .grid-cell {
        font-size: 24px;
        width: calc(var(--large-game)/(9));
        height: calc(var(--large-game)/(9));
    }

    .note {
        font-size: 12px;
        height: 12px;
    }

}