:root {
    --small-game: 350px;
    --large-game: 500px;

    --accent: #5887FF;
    --highlight: #E54F6D;
    --bg: #25252b;
    --bg-numpad: #DABE9F;
    --selection: #D1C8C7;

    --border: rgb(61, 73, 80);
    --invalid: #F42C04;
}

.container {
    margin: auto;
}

body {
    margin: 0 8px;
    font-family: 'Roboto';
    color: white;
    background-color: var(--bg);
}

h1, h2 {
    text-align: center;
    margin-bottom: 3px;
}

a {
    color: var(--accent);
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
    margin: 5px;
    /* padding-left: 4px; */
}

main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

footer {
    grid-area: footer;
}

#game-container {
    position: relative;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    width: var(--small-game);
}

#control-container {
    margin: auto;
    height: 125px;
    display: flex;
    flex-wrap: wrap;
}

#game-controls {
    margin: 0 10px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width: 125px;
    height: 100%;
}

.numpad-control {
    border: 2px var(--border) solid;
    font-size: 16px;
    color: white;
    background-color: var(--bg-numpad);
    /* Centers text in cell */
    display: flex;
    justify-content: center;
    align-items: center;
}

#extra-controls {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    width: 125px;
}

.extra-control {
    height: 33.3%;
    border: 1px #555 solid;
    color: white;
    background-color: rgb(70, 70, 70);
    width: 100%;
}

.board-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: 3px var(--accent) solid;
    
}
.board-control {
    background-color: var(--accent);
    color: white;
    border: 2px black solid;
    width: 12em;
}

.control-active {
    transition: background-color 0.1s ease;
    background-color: var(--selection);
}

.grid-row {
    display:flex;
    width: var(--small-game);
}

.house-accent {
    background-color: var(--accent);
}

.cell {
    border: 2px var(--border) solid;
    font-size: 20px;

    width: calc(var(--small-game)/(9*1.12));
    height: calc(var(--small-game)/(9*1.12));

    /* width: 11.1%;
    height: 11.1%; */

    /* Centers text in cell */
    display: flex;
    justify-content: center;
    align-items: center;

}

.cell, .control, .extra-control {
    /* Disable text highlighting on elements */
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.note-cell {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.note {
    font-size: 10px;
    height: 10px;
}


.invalid {
    background-color: var(--invalid);
}

.active {
    transition: background-color 0.1s ease;
    background-color: var(--highlight);
}

.selected {
    /* background-color: #777; */
    transition: background-color 0.1s ease-out;
    background-color: var(--selection);

}

.hint {
    font-weight: bold;
    font-style: italic;
}

.strike {
    text-decoration: line-through var(--highlight);
    -webkit-text-decoration: line-through var(--highlight);
    text-decoration-thickness: 2px;
}

#overlay {
    font-size: 30px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media (hover: hover) {
    #game-controls {
        display: none;
    }
} */

@media (hover: none) {
    .kb-instructions {
        display: none;
    }
}

@media (hover: none) and (min-width: 700px) {
    #control-container {
        height: 200px;
    }

    #game-controls {
        width: 200px;
        height: 200px;
    }

    .control {
        font-size: 24px;
    }

}

@media screen and (min-width: 700px) {
    main {
        width: 80%;
    }

    .container {
        display: grid;
        grid-template-areas: 
            "header header"
            "aside main"
            "footer footer";
        grid-template-columns: 1fr 5fr;
        column-gap: 3%;
    }

    #game-container {
        width: var(--large-game);
    }

    .grid-row {
        width: var(--large-game);
    }

    .cell {
        font-size: 24px;
        width: calc(var(--large-game)/(9));
        height: calc(var(--large-game)/(9));
    }

    .note {
        font-size: 12px;
        height: 12px;
    }

}