:root {
    --small-game: 350px;
    --large-game: 500px;
}

.container {
    margin: auto;
}

body {
    margin: 0 8px;
    font-family: 'Roboto';
    color: white;
    background-color: #333;
}

a {
    color: #FA5;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
    margin: 5px;
    /* padding-left: 4px; */
}

main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

footer {
    grid-area: footer;
}

#game-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: var(--small-game);
    /* height: var(--small-game); */
}

#control-container {
    margin: auto;
    height: 125px;
    display: flex;
    flex-wrap: wrap;
}

#game-controls {
    margin: 0 10px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width: 125px;
    height: 100%;
}

.control {
    border: 2px #555 solid;
    font-size: 16px;
    color: white;
    background-color: rgb(128, 128, 128);
    /* Centers text in cell */
    display: flex;
    justify-content: center;
    align-items: center;
}

#extra-controls {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}

.extra-control {
    height: 33.3%;
    border: 1px #555 solid;
    color: white;
    background-color: rgb(70, 70, 70);
    width: 100%;
}

#other-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 3px #fa5 solid;
}
.other-control {
    background-color: white;
    border: 2px black solid;
    width: 12em;
}

.control-active {
    transition: background-color 0.1s ease;
    background-color: #ccc;
}

.grid-row {
    display:flex;
    width: var(--small-game);
}

.house-alt {
    background-color: rgb(253, 177, 100);
}

.cell {
    border: 2px #555 solid;
    font-size: 20px;

    width: calc(var(--small-game)/(9*1.12));
    height: calc(var(--small-game)/(9*1.12));

    /* width: 11.1%;
    height: 11.1%; */

    /* Centers text in cell */
    display: flex;
    justify-content: center;
    align-items: center;

}

.cell, .control, .extra-control {
    /* Disable text highlighting on elements */
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.note-cell {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.note {
    font-size: 10px;
    height: 10px;
}

.active {
    transition: background-color 0.1s ease;
    background-color: #ff8c49;
    background-color: #ff7b00;
}

.selected {
    /* background-color: #777; */
    transition: background-color 0.1s ease-out;
    background-color: #ccc;

}

.invalid {
    color: #f85;
}

.hint {
    font-weight: bold;
    font-style: italic;
}

.strike {
    text-decoration: line-through rgba(255, 115, 0, 0.75);
    -webkit-text-decoration: line-through rgba(255, 115, 0, 0.75);
    text-decoration-thickness: 2px;
}

/* @media (hover: hover) {
    #game-controls {
        display: none;
    }
} */

@media (hover: none) and (min-width: 700px) {
    #control-container {
        height: 200px;
    }

    #game-controls {
        width: 200px;
        height: 200px;
    }

    .control {
        font-size: 24px;
    }

}

@media screen and (min-width: 700px) {
    main {
        width: 80%;
    }

    .container {
        display: grid;
        grid-template-areas: 
            "header header"
            "aside main"
            "footer footer";
        grid-template-columns: 1fr 5fr;
        column-gap: 3%;
    }

    #game-container {
        width: var(--large-game);
    }

    .grid-row {
        width: var(--large-game);
    }

    .cell {
        font-size: 24px;
        width: calc(var(--large-game)/(9));
        height: calc(var(--large-game)/(9));
    }

    .note {
        font-size: 12px;
        height: 12px;
    }

}